{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Design {% endblock %}

{% block body %}
<h1 class="text-center m-4">Choose a Design</h1>
<div class="row m-3" >
    <div class="col-4">
        <img src="/static/images/design1.jpg" style="width: 90%"><br>
        <a href="{{ url_for('form') }}" type="button" class="btn btn-primary mt-2" >Choose!</a>
    </div>
    <div class="col-4">
        <img src="/static/images/design1.jpg" style="width: 90%"><br>
        <button type="button" class="btn btn-primary mt-2">Choose!</button>
    </div>
    <div class="col-4">
        <img src="/static/images/design1.jpg" style="width: 90%"><br>
        <button type="button" class="btn btn-primary mt-2">Choose!</button>
    </div>


</div>

{% endblock %}