{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Design {% endblock %}

{% block body %}
<div class="container p-3">
        <div class="jumbotron p-4 bg-light-subtle">
            <form action="/upload" method="POST">
              <div class="mb-3">
                <label for="firstname" class="form-label">First Name :</label>
                <input type="text" name="firstname"  class="form-control" placeholder="Enter your First Name" id="firstname" required>
              </div>

              <div class="mb-3">
                <label for="lastname" class="form-label">Last Name :</label>
                <input type="text" name="lastname" class="form-control" placeholder="Enter your Last Name" id="lastname" required>
              </div>

              <div class="mb-3">
                <label for="school" class="form-label">School Name :</label>
                <input type="text" name="school" class="form-control" placeholder="Enter your School Name" id="school" required>
              </div>

              <div class="mb-3">
                <label for="college" class="form-label">College Name :</label>
                <input type="text" name="college" class="form-control" placeholder="Enter your College Name" id="college" required>
              </div>

              <div class="mb-3">
                <label for="university"  class="form-label">University Name :</label>
                <input type="text" name="university" class="form-control" placeholder="Enter your University Name" id="university" required>
              </div>

              <div class="mb-3">
                <label for="phone" class="form-label">Phone Number :</label>
                <input type="number" name="phone" class="form-control" placeholder="Enter your Phone Number" id="phone" required>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email :</label>
                <input type="email" name="email" class="form-control" placeholder="email@email.com" id="email" required>
              </div>

              <div class="mb-3">
                  <h6>Write something about you :</h6>
                  <textarea name="about" class="form-control" id="about" rows="10"></textarea>
              </div>

              <div class="mb-3">
                <label for="skill1" class="form-label">Enter your skill :</label>
                <input type="text" name="skill1" class="form-control" placeholder="Python" id="skill1" required>
              </div>

              <div class="mb-3">
                <label for="skill2" class="form-label">Enter your skill (Optional):</label>
                <input type="text" name="skill2" class="form-control" placeholder="Java" id="skill2">
              </div>

              <div class="mb-3">
                <label for="skill3" class="form-label">Enter your skill (Optional):</label>
                <input type="text" name="skill3" class="form-control" placeholder="" id="skill3">
              </div>

              <div class="mb-3">
                <label for="skill4" class="form-label">Enter your skill (Optional):</label>
                <input type="text" name="skill4" class="form-control" placeholder="" id="skill4">
              </div>

              <div class="mb-3">
                <h6>Upload your picture :</h6>
                <input type="file" name="pic" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

</div>

{% endblock %}